<ul>
  <% @matches.each do |match| %>
    <li><div class="match">
      <span class="player_names"><%= render "team_names", :team => match.teams.first %> vs. <%= render "team_names", :team => match.teams.last %></span>
      <span class="match_buttons"><%= render "match_buttons", :match => match %></span>
    </div></li>
  <% end %>
</ul>

<%= link_to "Create match", new_match_path, { :class => 'button_link' } %>
