<ul>
  <% @matches.each do |match| %>
    <li><div class="match">
      <span class="player_names"><%= match.players[0].name %> vs. <%= match.players[1].name %></span>
      <span class="match_buttons"><%= render "match_buttons", :match => match %></span>
    </div></li>
  <% end %>
</ul>

<%= link_to "Create match", new_match_path, { :class => 'button_link' } %>
