<%= form_for @match, :url => {:action => :update} do |f| %>

  <table>
    <tr>
      <td>Game #</td>
      <td>Team 1 score</td>
      <td>Team 2 score</td>
    </tr>

    <tr>
      <td>Game 1:</td>
      <td><input id="score_1" name="match[game1][team_1_score]" type="text" /></td>
      <td><input id="score_2" name="match[game1][team_2_score]" type="text" /></td>
    </tr>

    <tr>
      <td>Game 2:</td>
      <td><input id="score_3" name="match[game2][team_1_score]" type="text" /></td>
      <td><input id="score_4" name="match[game2][team_2_score]" type="text" /></td>
    </tr>

    <tr>
      <td>Game 3:</td>
      <td><input id="score_5" name="match[game3][team_1_score]" type="text" /></td>
      <td><input id="score_6" name="match[game3][team_2_score]" type="text" /></td>
    </tr>
  </table>

  <%= f.submit 'Submit' %>

<% end %>

